<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ats.pushclient">

    <uses-permission android:name="com.ats.pushclient.permission.C2D_MESSAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <application
        android:name=".PushClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:label="@string/title_activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <!--begin GCM receiver-->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.ats.pushclient"/>
            </intent-filter>

            <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
        </receiver>
        <!--end GCM receiver-->


        <!--begin gcm listener-->
        <service android:name=".PDGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>
        <!--end gcm listener-->

        <!--begin instanceid listener-->
        <service android:name=".PDInstanceIdListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <!--end instanceid listener-->



    </application>

</manifest>









